html {
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-size: 2.4em;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #222222;
}

h4 {
  font-size: 1.9em;
  font-weight: 300;
  margin: 8px 0;
  color: #A7A8B0;
}

h4:hover {
  transition: 0.7s linear;
  color: #5a5a5a;
}

a {
  text-decoration: none;
  transition: 0.7s linear;
  color: #28454B;
}

h4 a {
  color: #A7A8B0;
  margin: 5px auto;
  transition: 0.7s linear;
}

h4 a:hover {
  color: #5a5a5a;
}

.title-container h1 span {
  transition: 0.7s linear;
  content: 'Krishan Caldwell';
}

.title-container:hover h1 span {
  display: none;
}

.title-container:hover h1:after {
  transition: 0.7s linear;
  content: 'カルドウェル・クリシャン';
}
/* .language-swap:before {
  content: 'Krishan Caldwell';
  opacity: 1;
}

.language-swap:after {
  content: 'カルドウェル・クリシャン';
  opacity: 0;
}

.language-swap:after, .language-swap:before {
  transition: opacity 0.7s linear;
}

.language-swap:hover:before {
  opacity: 0;
}

.language-swap:hover:after {
  opacity: 1;
} */

.container {
  justify-content: center;
}

.home {
  height: 560px;
  margin: 160px auto;
}

.menu-section {
  margin: 20px auto;
}

.menu-item {
  display: flex;
  justify-content: center;
}

.social-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item {
  font-size: 1.1em;
  margin: 30px 4px;
}

.social-item a {
  color: #333333;
}

.footer {
  font-size: 1.1em;
  color: #9C9C9C;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.circle {
  margin: 160px auto 48px;
  justify-content: center;
  text-align: center;
  line-height: 380px;
  font-size: 12em;
  color: #BEBEBE;

	border: 2px solid #BEBEBE;
	border-radius: 50%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: 0.6;

	-webkit-box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
	box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
	width: 380px;
	height: 380px;
	z-index: 86;
}

.center {
  text-align: center;
}

.title {
  font-size: 2.6em;
  color: #9C9C9C;
  margin: 12px auto;
}

.alert {
  background: none;
  border: none;
  color: #CE0B24;
  font-size: 2.2em;
  font-weight: 600;
  letter-spacing: -0.5px;
  margin: 26px auto;
}

.about-section {
  height: 740px;
  display: flex;
  justify-content: center;
  background: #F7F7F7;
}

.about-container {
  height: 580px;
  width: 220px;
  background: #FFFFFF;
  margin: auto 30px;
  padding: 40px;
	-webkit-box-shadow: 3px 3px 4px 0px #E9E9E9;
	box-shadow:3px 3px 4px 0px #E9E9E9
}

.headshot-section {
  width: 144px;
  height: 144px;
  margin: 0 auto;
}

.headshot {
  width: 90%;
  height: auto;
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
}

.heading {
  font-size: 1.2em;
  margin-block-end: 2px;
}

.heading-subtitle {
  font-size: 1em;
  margin: 0 auto;
}

.info-table {
  margin-bottom: 24px;
}

.info-table > tbody {
  border-spacing: 0;
  border-collapse: collapse;
}

.info-table > tbody > tr > td > p {
  margin: 6px 2px;
}

.icon-cell {
  padding: 0 8px 0 0;
}

.profile-section {
  margin: 20px auto 40px;
  font-size: 1.2em;
}

.bio-section {
  font-size: 1.2em;
  line-height: 22px;
}

.work-section {
  height: 700px;
  background: #F8F8F8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.work-entry {
  width: 200px;
  height: 200px;
  margin: 12px;
  border: 2px solid #e1e1e1;
  border-radius: 50%;
  display: flex;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  transition: 0.5s all;
}

.work-entry:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  transition: 0.5s all;
}

.company-logo {
  width: 90%;
  height: auto;
  margin: 0 auto;
}
