html {
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 2.4em;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #222222;
}

h4 {
  font-size: 1.9em;
  font-weight: 300;
  margin: 8px 0;
  color: #A7A8B0;
}

h4:hover {
  transition: 0.7s linear;
  color: #222222;
}

a {
  text-decoration: none;
  transition: 0.7s linear;
}

h4 a {
  color: #A7A8B0;
  transition: 0.7s linear;
}

h4 a:hover {
  color: #222222;
}

.container {
  justify-content: center;
}

.home {
    height: 560px;
    margin: 160px auto;
}

.menu-section {
  margin: 20px auto;
}

.menu-item {
  display: flex;
  justify-content: center;
}

.social-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item {
  font-size: 1.1em;
  margin: 30px 4px;
}

.social-item a {
  color: #333333;
}

.footer {
  font-size: 1.1em;
  color: #9C9C9C;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.circle {
  margin: 160px auto 48px;
  justify-content: center;
  text-align: center;
  line-height: 380px;
  font-size: 12em;
  color: #BEBEBE;

	border: 2px solid #BEBEBE;
	border-radius: 50%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: 0.6;

	-webkit-box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
	box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
	width: 400px;
	height: 400px;
	z-index: 86;
}

.center {
  text-align: center;
}

.title {
  font-size: 2.6em;
  color: #9C9C9C;
  margin: 12px auto;
}

.alert {
  background: none;
  border: none;
  color: #CE0B24;
  font-size: 2.2em;
  font-weight: 600;
  letter-spacing: -0.5px;
  margin: 26px auto;
}
